body{
    background: radial-gradient(teal, rgb(49, 43, 43));
}

input{
  background-color: black;
  color: beige;
  border: none;
  outline: transparent;


}
form {
  width: 400px;
  background : radial-gradient(teal, black);
  display: flex;
  background-color: black;
  color : white;
  flex-direction: column; /* Change to column layout */
}
.fish{
  margin-top: -10px;
}
@media (max-width : 880px){
  .dele{
  width : 100%;
  }
}
@media (min-width : 880px){
  .dele{
  display : flex;
justify-content: space-evenly;
  }
  .btns{
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
  }
}
input[type="text"],
textarea {
  width: 100%;
  margin-bottom: 7px;
  padding: 10px 10px;
  background-color: black;
  color : white;
  border: 1px solid #ccc;
  border: none;
  outline: transparent;
}
.main{
  width: 100%;
  
}
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
}

.dele {

  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 10px; /* Adjust the gap between items as needed */
  
}

